---
layout: single
---
Hello and welcome to my website! My name is Karin, and I’m a PhD student at the [Institute for Theoretical Astrophysics](https://www.ita.uni-heidelberg.de/index.shtml?lang=en) at the University of Heidelberg, Germany. I belong to the [star formation group](https://starformation.de/) there and work under the supervision of Philipp Girichidis and Ralf Klessen.
My research focuses on the dynamical impact of cosmic rays in galaxies and their observable signatures, specifically gamma-ray emission. I primarily work with the Rhea suite of simulations, which are large-scale MHD-simulations of isolated Milky Way-like galaxies that we have developed in the group. Lately I’m also working on developing a new code for spectrally evolved cosmic ray electrons, in order to study the resulting leptonic emission. I am broadly interested in all topics related to the physics of cosmic rays, their observables, the physics of the ISM and CGM, and galaxy evolution. 

If you have any questions or suggestions, please feel free to reach out to me via email: karin.kjellgren01@stud.uni-heidelberg.de. 

